certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.1.0
osm2geojson==0.1.31
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
Shapely==1.8.1.post1
urllib3==1.26.8
Flask==2.0.1
Frozen-Flask==0.18
Flask-Minify==0.37