  html {
    overflow-y: scroll;
    overflow-y: hidden;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  @media (min-width: 500px) {
    .sidebar {
      position: absolute;
      z-index: 1;
      margin: 0.5rem !important;
      width: 425px;
      border-radius: 10px;
      box-shadow: 0 .5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
      max-height: 90vh;
      overflow: auto !important;
      z-index: 10 !important;
    }
  }

  @media (max-width: 500px) {
    .sidebar {
      position: absolute;
      margin: 0 !important;
      width: 100vw;
      display: block !important;
      overflow-wrap: break-word;
      max-height: 85vh;
      z-index: 10 !important;
      overflow: auto !important;
    }
  }

    @media (min-width: 500px) {
    .sidebar-right {
      position: relative;
      float: right;
      right: 40px;
      z-index: 1;
      margin: 0.5rem !important;
      width: 425px;
      border-radius: 10px;
      box-shadow: 0 .5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
      max-height: 90vh;
      overflow: auto !important;
      z-index: 10 !important;
    }
  }

  @media (max-width: 500px) {
    .sidebar-right {
      position: absolute;
      margin: 0 !important;
      width: 100vw;
      display: block !important;
      overflow-wrap: break-word;
      max-height: 85vh;
      z-index: 10 !important;
      overflow: auto !important;
    }
  }

  .card {
    z-index: 1;
  }

  #sidebar-card-image {
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    max-height: 60px;
    padding: 0;
    display: block;
    position: relative;
  }

  @media (min-width: 500px) {
    #sidebar-header {
      border: 4px solid hsl(0, 0%, 96%);
      border-radius: 8px;
    }
  }

  @media (max-width: 500px) {
    #sidebar-header {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  .card-content {
    border-left: 5px solid hsl(0, 0%, 96%);
    border-right: 5px solid hsl(0, 0%, 96%);
  }

/*
  .mapboxgl-ctrl-bottom-right,
  .maplibregl-ctrl-bottom-right {
    bottom: 68px !important;
  }
*/

  .mapboxgl-ctrl-top-right,
  .maplibregl-ctrl-top-right {
    top: 60px !important;
  }

  .mapboxgl-ctrl-group button, .maplibregl-ctrl-group button {
  width: 44px !important;
  height: 44px !important;
}

.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-geolocate {
  filter: contrast(24%);
}

[class*=" icon"],
[class^=icon] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.lang-img
{
  border-radius: 4px;
  border: 1px solid #6679d0;
}
.lang-img:hover
{
  border: 1px solid #a1ace2;
}